HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.log
*.lck

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.iml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/mvnw.cmd
/mvnw
/.mvn/wrapper/

### log ###
/src/
/logs/