<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nepxion.discovery.platform.starter.server.mysql.mapper.DbPageMapper">

    <select id="list" resultType="com.nepxion.discovery.platform.starter.server.entity.vo.Page">
        SELECT `p`.`id`,
        `p`.`name`,
        `p`.`url`,
        `p`.`is_menu`,
        `p`.`is_default`,
        `p`.`is_blank`,
        `p`.`icon_class`,
        `p`.`parent_id`,
        `parent`.`name` AS `parent_name`,
        `p`.`order_num`,
        `p`.`remark`
        FROM `sys_page` `p`
        LEFT OUTER JOIN `sys_page` `parent` ON `p`.`parent_id` = `parent`.`id`
        <where>
            <if test="name!=null and name!=''">
                `p`.`name` LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
        ORDER BY p.parent_id ASC, p.order_num ASC
    </select>

    <select id="getMaxOrderNum" resultType="java.lang.Long">
        SELECT IFNULL(MAX(`order_num`), 0)
        FROM `sys_page`
        WHERE `parent_id` = #{parentId}
    </select>

    <select id="listPermissionPages" resultType="com.nepxion.discovery.platform.starter.server.entity.vo.Page">
        SELECT `page`.`id`,
               `page`.`name`,
               `page`.`url`,
               `page`.`is_menu`,
               `page`.`is_default`,
               `page`.`icon_class`,
               `page`.`parent_id`,
               `parent`.`name` AS `parent_name`,
               `page`.`order_num`,
               `page`.`remark`,
               `p`.`can_insert`,
               `p`.`can_delete`,
               `p`.`can_update`,
               `p`.`can_select`
        FROM `sys_page` `page`
                 LEFT OUTER JOIN `sys_permission` `p` ON `page`.`id` = `p`.`sys_page_id`
                 LEFT OUTER JOIN `sys_role` `r` ON `r`.`id` = `p`.`sys_role_id`
                 LEFT OUTER JOIN `sys_admin` `a` ON `a`.`sys_role_id` = `r`.`id`
                 LEFT OUTER JOIN `sys_page` `parent` ON `page`.`parent_id` = `parent`.`id`
        WHERE `a`.`id` = #{adminId}
    </select>
</mapper>