<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nepxion.discovery.platform.server.mapper.RouteMapper">

    <select id="getNextMaxCreateTimesInDay" resultType="java.lang.Integer">
        SELECT IFNULL(MAX(`create_times_in_day`), 0) + 1
        FROM ${tableName}
        WHERE  <![CDATA[ create_time >= #{startTime} ]]>
          <![CDATA[ and create_time < #{endTime} ]]>
    </select>

</mapper>